.App {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 4px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  color: white;
  text-align: left;
  padding: 4px;
  text-align: center;
}

th {
  border: 1px solid #dddddd;
  color: white;
  text-align: left;
  padding: 4px;
  text-align: center;
}

tr {
  background-color: black;
}
